[submodule ".registry"]
	path = .registry
	url = https://github.com/spectra-to-knowledge/spectra-to-knowledge.r-universe.dev
	branch = HEAD
[submodule "SpectraToQueries"]
	path = SpectraToQueries
	url = https://github.com/spectra-to-knowledge/SpectraToQueries
	branch = main
